echo node_modules/ > .gitignore
echo .env >> .gitignore
echo .DS_Store >> .gitignore
echo dist/ >> .gitignore
echo build/ >> .gitignore
echo .vscode/ >> .gitignore
echo npm-debug.log* >> .gitignore
echo yarn-debug.log* >> .gitignore
echo yarn-error.log* >> .gitignore